{{ template "base.html" . }}


{{ define "title" }}Hangover - Entity "{{ .Entity.URI }}" {{ end }}

{{ define "header" }}
    <h1>{{ .Entity.URI }}</h1>
{{ end }}

{{ define "nav" }}
    <a href="/">Bundles</a> &gt;
    <a href="/bundle/{{ .Bundle.MachineName }}">Bundle {{ .Bundle.Path.Name }}</a> &gt;
    <b>Entity {{ .Entity.URI }}</b>
{{ end }}

{{ define "main" }}
    {{ $globals := .Globals }}
    <h2>Fields</h2>
    {{ $bundle := .Bundle }}
    {{ template "viewer_render_entity.html" combine "Globals" $globals "Entity" .Entity "Bundle" $bundle }}
    
    <h2>Sub Bundles</h2>
    {{ range $name, $values := .Entity.Children }}
        {{ $cbundle := $bundle.Bundle $name }}
        <h3>{{ $cbundle.Name }}</h3>

        {{ range $values }}
            {{ template "viewer_render_entity.html" combine "Globals" $globals "Entity" . "Bundle" $cbundle }}
        {{ end }}
    {{ end }}

    <h2>Aliases</h2>
    <ul>
        {{ range .Aliases }}
        <li><code>{{ . }}</code></li>
        {{ end }}
    </ul>
{{ end }}

{{ define "footer" }}
    {{ template "viewer_foot.html" . }}
{{ end }}
