<!DOCTYPE html>
<head>
    <title>{{ block "title" . }}title{{ end }}</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    {{ block "styles" . }}<!-- no styles -->{{ end }}
</head>
<body>
    {{ block "body" . }}
    <header>
        {{ block "header" . }}header{{ end }}
    </header>
    <nav>
        {{ block "nav" . }}nav{{ end }}
    </nav>
    <main>
        {{ block "main" .}}main{{ end }}
    </main>
    <footer>
        {{ block "footer" .}}
            {{ template "viewer_foot.html" . }}
        {{ end }}
    </footer>
    {{ end }}

    {{ block "scripts" . }}<!-- no scripts -->{{ end }}
</body>