{{ $globals := .Globals }}
{{ $value := .Value.Datum.Value }}
{{ if eq .Field.FieldType "entity_reference" }}
    <a class="uri" href="/wisski/get?uri={{ $value }}">{{ $value }}</a>
{{ else if eq .Field.FieldType "link" }}
    <a class="link" href="{{ $value }}">{{ $value }}</a>
{{ else if eq .Field.FieldType "image" }}
    {{ if $globals.ImageRender }}
        {{ $url := $globals.ReplaceURL $value }}
        <a href="{{ $url }}" rel="noopener noreferrer" target="_blank">
            <img src="{{ $url }}" class="preview" loading="lazy">
        </a>
    {{ else }}
        <a class="image" href="{{ $value }}" rel="noopener noreferrer" target="_blank">{{ $value }}</a>
    {{ end }}
{{ else if eq .Field.FieldType "text_long" }}
    {{ if $globals.HTMLRender }}
        {{ renderhtml $value $globals }}
    {{ else }}
        <span class="text">{{ $value }}</span>
    {{ end }}
{{ else }}
    <span class="text">{{ $value }}</span>
{{ end }}