{{ $globals := .Globals }}
{{ $entity := .Entity }}
{{ $links := .DownloadLinks }}

<table class="entity_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Count</th>
            <th colspan="2">Value(s)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">
                <div class="showable" data-placeholder="Show Entity Triples">
                    <div class="toggle">Hide Entity Triples</div>

                    {{ template "viewer_render_triples.html" combine "Globals" $globals "Entity" $entity }}
                </div>
            </td>
        </tr>
        {{ if .Graph }}
        <tr>
            <td colspan="5">
                <div class="showable" data-placeholder="Show Graph">
                    <div class="toggle">Hide Graph</div>

                    <div>
                        <object type="image/svg+xml" data="{{ .Graph }}">
                            Unable to render Triples
                        </object>
                    </div>
                </div>
            </td>
        </tr>
        {{ end }}
        {{ if $links }}
            <tr>
                <td colspan="5">
                    Download Triples: <a href="{{ $links.Triples }}">NTriples</a> <a href="{{ $links.Turtle }}">Turtle</a><br>
                    Download Graph: <a href="{{ $links.SVG }}">SVG</a> <a href="{{ $links.DOT }}">DOT</a>
                </td>
            </tr>
        {{ end }}
    </tbody>
    <tbody>

        {{ range $field := .Bundle.Fields }}
        {{ $name := $field.MachineName }}
        {{ $values := index $entity.Fields $name }}

        {{ $l := len $values }}
        <tr>
            <td class="collapse" {{ if ne $l 0 }}rowspan="{{ $l }}" {{end}}>
                {{ $field.Name }}
            </td>
            <td class="collapse" {{ if ne $l 0 }}rowspan="{{ $l }}" {{end}}>
                {{ $field.FieldType }}
            </td>
            <td class="collapse" {{ if ne $l 0 }}rowspan="{{ $l }}" {{end}}>
                {{ len $values }}
                <small>
                    (Cardinality {{ $field.Cardinality }})
                </small>
            </td>

            {{ if eq $l 0 }}
            <td colspan="2"></td>
        </tr>
        {{ end }}

        {{ range $i, $value := $values }}
        {{ if ne $i 0 }}
        <tr>
            {{ end }}

            {{ $lang := $value.Datum.Language }}
            {{ if $lang }}
            <td lang="{{$lang}}">
            {{ else }}
            <td colspan="2">
            {{ end }}
                {{ template "viewer_render_value.html" combine "Globals" $globals "Field" $field "Value" $value }}
            </td>
            {{ if $lang }}
            <td class="collapse">
                <code class="lang">{{ $lang }}</code>
            </td>
            {{ end }}
        </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>