<script data-render-graph="true" type="application/json">
    {
        "triples": [
            {{ $comma := false}}
            {{ range $i, $e := .Entity.AllTriples }}
            {{ if not (eq $e.Role 2) }}
            {{ if $comma }},{{ end }}
            [
                {{ $e.SSubject }}, {{ $e.SPredicate }}, {{ $e.SObject }}
            ]
            {{ $comma = true }}
            {{ end }}
            {{ end }}
        ],
        "data": [
            {{ $comma := false}}
            {{ range $i, $e := .Entity.AllTriples }}
            {{ if eq $e.Role 2 }}
            {{ if $comma }},{{ end }}
            [
                {{ $e.SSubject }}, {{ $e.SPredicate }}, {{ $e.Datum.Value }}
            ]
            {{ $comma = true }}
            {{ end }}
            {{ end }}
        ]
    }
</script>