<form action="/wisski/get" method="GET">
    <input name="uri" {{if .Globals.DisableForm }}readonly{{end}}>
    <button type="submit" {{if .Globals.DisableForm }}disabled{{end}}>Resolve URI</button>
</form>

<hr />

{{ .Globals.Footer }}

<p>
    <small>
        HTML Render: {{ .Globals.HTMLRender }}<br />
        Image Render: {{ .Globals.ImageRender }}<br />
        Public URL: {{ .Globals.PublicURL}}<br />
        SameAs Predicates: {{ .Globals.Predicates.SameAs }}<br />
        InverseOf Predicates: {{ .Globals.Predicates.InverseOf }}<br />
        <a href="/pathbuilder">Pathbuilder</a><br />
        <a href="/perf">Viewer Performance</a><br />
        <a href="/legal">Viewer License Notices</a><br />
    </small>
</p>